Repository biobase-ai/biobase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chenxingqiang, @charislam, @biobase/marketing, @biobase/dev-workflows, @biobase/security

.github/CODEOWNERS:

/packages/shared-data/pricing.ts @chenxingqiang
/packages/shared-data/plans.ts @chenxingqiang

/apps/studio/ @chenxingqiang

# temporary until we've ironed out all the problems with sync workflow
/apps/docs/content/troubleshooting/ @charislam

/apps/www/ @biobase/marketing
/apps/www/public/images/blog @biobase/marketing
/apps/www/lib/redirects.js

/docker/ @biobase/dev-workflows

/apps/studio/next.config.js                                         @biobase/security
/apps/studio/components/interfaces/Billing/Payment                  @biobase/security
/apps/studio/components/interfaces/Organization/BillingSettings/    @biobase/security
/apps/studio/components/interfaces/Organization/Documents/          @biobase/security
/apps/studio/pages/new/index.tsx                                    @biobase/security

update files
  vercel.json
Owners: none

update vecel
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
  vercel.json
Owners: @chenxingqiang, @biobase/marketing

update vecel
  apps/design-system/build.json
  apps/docs/build.json
  apps/studio/build.json
  apps/www/build.json
  package.json
  vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix config
  package-lock.json
  package.json
Owners: none

Update: package-lock.json ( 1 file changed, 47184 deletions(-))
  package-lock.json
Owners: none

config vecel
  .node-version
  apps/design-system/build.json
  apps/docs/build.json
  apps/studio/build.json
  apps/www/build.json
  package.json
  vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix vecel config
  apps/www/vercel.json
  package-lock.json
  vercel.json
Owners: @biobase/marketing

fix
  apps/www/lib/biobase.ts
  apps/www/pages/ga-week.tsx
Owners: @biobase/marketing

Update: .nvmrc, .vercelignore, vercel.json ( 3 files changed, 5 insertions(+), 2 deletions(-))
  .nvmrc
  .vercelignore
  vercel.json
Owners: none

y
  apps/www/vercel.json
Owners: @biobase/marketing

y
  vercel.json
Owners: none

fix vecel
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
Owners: @chenxingqiang

fix runtime version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix runtime version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
  vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix runtime version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix runtime version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix npm version
  .npmrc
  package.json
  vercel.json
Owners: none

fix npm version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix npm version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix npm version
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

fix eslint
  .npmrc
  package.json
Owners: none

delete vecel
  apps/design-system/vercel.json
  apps/docs/vercel.json
  apps/studio/vercel.json
  apps/www/vercel.json
Owners: @chenxingqiang, @biobase/marketing

delete vecel
  vercel.json
Owners: none

delete vecel
  apps/studio/package.json
  package-lock.json
  package.json
Owners: @chenxingqiang

delete vecel
  apps/studio/package.json
Owners: @chenxingqiang

delete vecel
  package-lock.json
Owners: none

fix
  apps/design-system/contentlayer.config.js
  apps/design-system/package.json
  apps/docs/package.json
  apps/www/public/customers-rss.xml
  apps/www/public/sitemap_www.xml
  package-lock.json
Owners: @biobase/marketing

downd ai
  apps/studio/package.json
  package-lock.json
Owners: @chenxingqiang

docs fix
  apps/www/.env
Owners: @biobase/marketing

commit all fix
  .hintrc
  apps/docs/.env
  apps/docs/app/api/github/webhook/route.test.ts
  apps/docs/app/api/github/webhook/route.ts
  apps/docs/app/guides/(with-sidebar)/database/database-advisors/page.tsx
  apps/docs/app/guides/(with-sidebar)/deployment/terraform/reference/page.tsx
  apps/docs/app/guides/(with-sidebar)/platform/terraform/reference/page.tsx
  apps/docs/database/create_partners.sql
  apps/docs/database/init.sql
  apps/docs/database/verify.js
  apps/docs/features/helpers.fetch.ts
  apps/docs/next.config.mjs
  apps/docs/tailwind.config.js
  apps/www/.env
  apps/www/.env.local.example
  apps/www/app/api-v2/ticket-og/route.tsx
  apps/www/contentlayer.config.ts
  apps/www/database/init.sql
  apps/www/database/verify.js
  apps/www/database/verify_tables.js
  apps/www/lib/biobaseAdmin.ts
  apps/www/pages/ga-week.tsx
  apps/www/pages/launch-week/index.tsx
  apps/www/pages/launch-week/tickets/[username].tsx
  apps/www/public/fonts/CircularStd-Book.otf
  apps/www/public/fonts/SourceCodePro-Regular.ttf
  apps/www/scripts/upload-assets.js
  apps/www/upload.html
  package-lock.json
  package.json
  packages/ai-commands/src/sql/rls.ts
  scripts/retry-failed-uploads.js
  scripts/upload-assets.js
  turbo.json
Owners: @biobase/marketing

docs studio design-system sucess
  apps/studio/lib/api/apiAuthenticate.ts
  apps/www/data/openapi.json
  apps/www/lib/services/DatabaseService.ts
  apps/www/package.json
  apps/www/pages/api-docs.tsx
  apps/www/pages/api/api-json.ts
  apps/www/pages/careers.tsx
  apps/www/supabase/migrations/20241214141500_create_health_check_function.sql
  apps/www/supabase/migrations/20241214143000_create_health_check_table.sql
  biobase-studio@0.0.0
  package-lock.json
  package.json
  packages/api-types/package.json
  packages/api-types/types/api.d.ts
  scripts/generate-types.sh
Owners: @chenxingqiang, @biobase/marketing

docs studio design-system sucess
  apps/docs/app/api/ai/docs/route.ts
Owners: none

fix: remove blog tags page and implement pagination for categories
  apps/www/next-env.d.ts
  apps/www/pages/blog/categories/[category].tsx
  apps/www/pages/blog/tags/[tag].tsx
  apps/www/pages/careers.tsx
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

fix: update vercel flags rewrite rule to use absolute URL
  apps/studio/next.config.js
Owners: @biobase/security

fix
  .hintrc
  apps/design-system/components/ui/card.tsx
  apps/www/next-env.d.ts
  apps/www/public/sitemap_www.xml
  apps/www/upload.html
  package-lock.json
  package.json
  packages/ai-commands/src/docs.ts
  packages/ui-patterns/ComputeBadge/index.tsx
  packages/ui-patterns/package.json
  packages/ui-patterns/tsconfig.json
  tsconfig.json
Owners: @biobase/marketing

add sitemap
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

adjust www
  .windsurfrules
  apps/design-system/__registry__/default/block/chart-area-axes.tsx
  apps/design-system/__registry__/default/block/chart-area-default.tsx
  apps/design-system/app/(app)/examples/tasks/components/data-table-column-header.tsx
  apps/design-system/app/(app)/examples/tasks/components/data-table-pagination.tsx
  apps/design-system/app/(app)/examples/tasks/components/data-table-view-options.tsx
  apps/design-system/components/component-source.tsx
  apps/design-system/components/ui/card.tsx
  apps/design-system/components/ui/index.ts
  apps/design-system/components/ui/shadcn/card.tsx
  apps/design-system/contentlayer.config.js
  apps/design-system/lib/rehype-component.ts
  apps/design-system/package.json
  apps/design-system/registry/default/block/chart-area-axes.tsx
  apps/design-system/registry/default/block/chart-area-default.tsx
  apps/www/lib/posts.tsx
  apps/www/pages/blog/categories/[category].tsx
  apps/www/public/sitemap_www.xml
  package-lock.json
Owners: @biobase/marketing

update
  apps/www/lib/posts.tsx
  apps/www/public/sitemap_www.xml
  package-lock.json
  packages/ai-commands/src/docs.ts
Owners: @biobase/marketing

fix images wwww
  .hintrc
  apps/www/lib/posts.tsx
  apps/www/pages/blog/categories/[category].tsx
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

fix www size
  apps/www/lib/posts.tsx
  apps/www/pages/blog/categories/[category].tsx
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing
