Repository biobase-ai/biobase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chenxingqiang, @charislam, @biobase/marketing, @biobase/dev-workflows, @biobase/security

fix www
  apps/www/lib/posts.tsx
  apps/www/pages/blog/categories/[category].tsx
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

fix www
  apps/www/lib/posts.tsx
  apps/www/pages/blog/categories/[category].tsx
Owners: @biobase/marketing

refactor: improve blog category pages and add testing infrastructure
  apps/www/components/Blog/BlogGridItem.tsx
  apps/www/contentlayer.config.ts
  apps/www/jest.config.js
  apps/www/jest.setup.js
  apps/www/lib/__tests__/posts.test.ts
  apps/www/lib/posts.tsx
  apps/www/package.json
  apps/www/pages/blog/categories/[category].tsx
  apps/www/scripts/test-posts.ts
Owners: @biobase/marketing

uodate
  apps/www/components/Nav/index.tsx
  apps/www/contentlayer.config.ts
  apps/www/data/nav.ts
  apps/www/jest.config.js
  apps/www/jest.setup.js
  apps/www/lib/__tests__/posts.test.ts
  apps/www/lib/posts.tsx
  apps/www/next.config.js
  apps/www/package.json
  apps/www/pages/blog/categories/[category].tsx
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

Fix Contentlayer build issues and optimize Tailwind configuration
  apps/design-system/__registry__/default/block/chart-area-default.tsx
  apps/design-system/registry/default/block/chart-area-default.tsx
  apps/docs/components/AppleSecretGenerator/AppleSecretGenerator.tsx
  apps/docs/components/GuidesTableOfContents.tsx
  apps/docs/package.json
  apps/www/contentlayer.config.ts
  apps/www/lib/posts.tsx
  apps/www/next.config.js
  apps/www/package.json
  apps/www/pages/api/ai/docs.ts
  apps/www/pages/blog/categories/[category].tsx
  apps/www/public/sitemap_www.xml
  apps/www/tailwind.config.js
  biobase-studio@0.0.0
  package-lock.json
  package.json
  packages/ui-patterns/AssistantChat/AssistantChatForm.tsx
Owners: @biobase/marketing

fix next dependence
  apps/design-system/package.json
  apps/www/contentlayer.config.ts
  apps/www/package.json
  apps/www/vercel.json
  package-lock.json
Owners: @biobase/marketing

fix next dependence
  apps/www/package.json
  apps/www/pages/partners/[slug].tsx
  package-lock.json
Owners: @biobase/marketing

fix next dependence
  apps/www/internals/generate-sitemap.mjs
  apps/www/lib/posts.tsx
  apps/www/pages/api/ai/docs.ts
  package-lock.json
Owners: @biobase/marketing

add fix
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

add fix
  apps/www/next.config.mjs
Owners: @biobase/marketing

update sitemap
  apps/www/public/sitemap_www.xml
Owners: @biobase/marketing

fix www
  apps/design-system/__registry__/default/block/utils/chart-components.tsx
  apps/design-system/registry/blocks.ts
  apps/design-system/registry/default/index.ts
  apps/design-system/registry/utils.ts
  apps/www/components/Blog/BlogFilters.tsx
  apps/www/public/sitemap_www.xml
  turbo.json
Owners: @biobase/marketing

fix www
  apps/design-system/__registry__/default/block/chart-area-default.tsx
  apps/design-system/components/component-preview.tsx
  apps/design-system/contentlayer.config.js
  apps/design-system/package.json
  apps/docs/package.json
  apps/studio/components/interfaces/Linter/Linter.utils.tsx
  apps/studio/components/interfaces/QueryPerformance/QueryPerformanceGrid.tsx
  apps/studio/package.json
  apps/www/components/Blog/BlogFilters.tsx
  apps/www/public/sitemap_www.xml
  package-lock.json
  package.json
  packages/ui/package.json
Owners: @chenxingqiang, @biobase/marketing

fix(design-system): resolve type errors in chart icons
  apps/design-system/__registry__/default/block/chart-pie-label-custom.tsx
  apps/design-system/registry/blocks.ts
  apps/design-system/registry/default/block/chart-pie-label-custom.tsx
  apps/design-system/registry/default/block/index.ts
  apps/design-system/registry/default/example/index.ts
  apps/design-system/registry/utils.ts
  apps/design-system/scripts/build-registry.mts
  apps/design-system/scripts/generate-components.mts
  apps/www/public/sitemap_www.xml
  package-lock.json
  package.json
Owners: @biobase/marketing

Fix chart component imports and type errors in data table components
  apps/design-system/app/(app)/examples/tasks/components/data-table-column-header.tsx
  apps/design-system/app/(app)/examples/tasks/components/data-table-pagination.tsx
Owners: none

chore: update Vercel deployment configuration for www app
  apps/www/.vercelignore
  apps/www/package.json
  apps/www/vercel.json
Owners: @biobase/marketing

fix: remove unsupported properties from vercel.json
  apps/www/vercel.json
Owners: @biobase/marketing

fix: add recharts dependency and fix Node.js version
  apps/www/package.json
  apps/www/vercel.json
Owners: @biobase/marketing

fix: next.js build errors and react-markdown imports
  .hintrc
  apps/www/components/Sections/FeaturesSection.tsx
  apps/www/components/Sections/ParagraphSection.tsx
  apps/www/next.config.mjs
  apps/www/package.json
  apps/www/public/sitemap_www.xml
  package-lock.json
Owners: @biobase/marketing

fix: update vercel configuration for monorepo build
  apps/www/components/Blog/BlogFilters.tsx
  apps/www/package.json
  apps/www/vercel.json
  vercel.json
Owners: @biobase/marketing

fix: remove problematic ignoreCommand from vercel config
  apps/www/vercel.json
  vercel.json
Owners: @biobase/marketing

fix: update Next.js dependencies to resolve build errors
  apps/www/package.json
  apps/www/public/sitemap_www.xml
  package-lock.json
Owners: @biobase/marketing

fix: add @emotion/is-prop-valid dependency for framer-motion
  apps/www/package.json
Owners: @biobase/marketing

fix: resolve TypeScript errors in BlogFilters component
  apps/www/components/Blog/BlogFilters.tsx
Owners: @biobase/marketing

fix: resolve remaining TypeScript errors in BlogFilters
  apps/www/components/Blog/BlogFilters.tsx
Owners: @biobase/marketing

fix
  apps/www/components/Blog/BlogFilters.tsx
Owners: @biobase/marketing

fix
  .vercelignore
  apps/www/.env
  apps/www/.vercelignore
  apps/www/build.json
  apps/www/public/sitemap_www.xml
  apps/www/vercel.json
  package-lock.json
Owners: @biobase/marketing

fix: add build:www script to www package.json for Vercel deployment
  apps/www/package.json
Owners: @biobase/marketing

fix: update next.js and next-seo versions for compatibility
  apps/www/package.json
Owners: @biobase/marketing

fix: add @emotion dependencies and update framer-motion version
  apps/www/package.json
Owners: @biobase/marketing

fix: downgrade next-seo and add peer dependencies
  apps/www/package.json
Owners: @biobase/marketing

fix: resolve emotion dependency and partners page prerender issue
  apps/www/pages/partners/[slug].tsx
  package-lock.json
  package.json
Owners: @biobase/marketing

fix: comprehensive dependency and prerender resolution
  apps/www/package.json
  apps/www/pages/partners/[slug].tsx
  package-lock.json
  package.json
Owners: @biobase/marketing

fix: clean up emotion dependencies and resolve installation issues
  apps/www/package.json
  package-lock.json
Owners: @biobase/marketing

fix: update next-seo import and resolve module resolution
  apps/www/package.json
  apps/www/pages/_app.tsx
  package-lock.json
Owners: @biobase/marketing

fix: remove next-seo and simplify _app.tsx configuration
  apps/www/package.json
  apps/www/pages/_app.tsx
  package-lock.json
Owners: @biobase/marketing

fix: completely remove next-seo and add comprehensive metadata
  apps/www/package.json
  apps/www/pages/_app.tsx
  package-lock.json
  package.json
Owners: @biobase/marketing

Add next-seo package and type declarations
  apps/www/package.json
  package-lock.json
Owners: @biobase/marketing

fix: move next-seo from devDependencies to dependencies to fix build errors
  apps/www/package.json
Owners: @biobase/marketing

fix: add build:www script for Vercel deployment
  apps/www/package.json
Owners: @biobase/marketing

.github/CODEOWNERS:

/packages/shared-data/pricing.ts @chenxingqiang
/packages/shared-data/plans.ts @chenxingqiang

/apps/studio/ @chenxingqiang

# temporary until we've ironed out all the problems with sync workflow
/apps/docs/content/troubleshooting/ @charislam

/apps/www/ @biobase/marketing
/apps/www/public/images/blog @biobase/marketing
/apps/www/lib/redirects.js

/docker/ @biobase/dev-workflows

/apps/studio/next.config.js                                         @biobase/security
/apps/studio/components/interfaces/Billing/Payment                  @biobase/security
/apps/studio/components/interfaces/Organization/BillingSettings/    @biobase/security
/apps/studio/components/interfaces/Organization/Documents/          @biobase/security
/apps/studio/pages/new/index.tsx                                    @biobase/security
